<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Página de listagem</title>
  </head>
  <body>

    <div class="container">
      <h1>Os seus produtos são</h1>
      <form action="" method="GET">
        <input type="text" name="filtrar" class="form-control">
        <input type="submit" value="Filtro" class="btn btn-primary">
      </form>
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Nome dos produto</th>
      <th scope="col">Preço do produto</th>
      <th scope="col">Executar</th>
    </tr>
  </thead>
  <tbody>
    {% for produto in produtos %}
    <tr>
      <td>{{produto.nome}}</td>
      <td>{{produto.preco}}</td>
      <td><a href="/cadastro/delet/{{produto.id}}" class="btn btn-danger">Apagar</a></td>
    {% endfor %}
    </tr>
    </div>
    <hr>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>